# Environnement virtuel
.venv/
venv/

# Base de données
*.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Fichiers uploadés
app/static/uploads/
test_ordonnaces

# IDE
.idea/
.vscode/

# Variables d'environnement
.env

# OS
.DS_Store
Thumbs.db

# Ne pas ignorer les modèles ML
!data/*.pkl
!data/sinistres_synthetiques.csv